@model IQueryable<Payment>
@{
    ViewData["Title"] = "Payments";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewBag.AspAction = "List";
    ViewBag.AspController = "Payment";
    var usrRole = ViewBag.UserRole;
    if (usrRole == null)
    {
        usrRole = UserRole.None;
    }
    var showStudentIdColumn = (usrRole != UserRole.Student && usrRole != UserRole.None);
    var showIsVerifiedColumn = (usrRole != UserRole.None);
    var showSchoolIdColumn = (usrRole == UserRole.SiteAdmin);
}

<h2>@ViewData["Title"] <a asp-action="Create" class="btn btn-sm btn-primary float-end">Create New</a></h2>


@section SearchFormOptions {
    <select class="form-select" name="searchField">
        @if (ViewData["CurrentSearchField"] != null)
        {
            <option value='@ViewData["CurrentSearchField"]' selected>@ViewData["CurrentSearchField"]</option>
        }
        <option value="">All</option>
        <option value="Id">Payment Id</option>
        <option value="PaymentDate">Payment Date</option>
        <option value="PaymentMethod">Payment Method</option>
        <option value="PaymentPeriodId">Payment Period</option>
        <option value="Amount">Amount</option>
        <option value="Status">Status</option>
        <!-- Add more search fields as needed -->
    </select>
}

@section Listings {
        <thead>
            <tr>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["IdSortOrder"]">Id</list-page-link-item>
            </th>
               @if (showStudentIdColumn)
                {
                    <th>
                        <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["StudentIdSortOrder"]">Student Id</list-page-link-item>
                    </th>
                }
                @if (showSchoolIdColumn)
                {
                    <th>
                        <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["SchoolIdSortOrder"]">School</list-page-link-item>
                    </th>
                }
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["PaymentDateSortOrder"]">Payment Date</list-page-link-item>
                </th>
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["PaymentMethodSortOrder"]">
                        Payment Method
                    </list-page-link-item>
                </th>
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["PeriodSortOrder"]">Payment Period</list-page-link-item>
                </th>
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["AmountSortOrder"]">Amount</list-page-link-item>
                </th>
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["StatusSortOrder"]">Status</list-page-link-item>
                </th>
                @if (showIsVerifiedColumn)
                {
                    <th>
                        <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["IsVerifiedSortOrder"]">Is Verified</list-page-link-item>
                    </th>
                }
                <th></th> <!-- column for buttons edit | details | delete -->
                <!-- Add other fields as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (Payment item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    @if (showStudentIdColumn)
                    {
                        @if (item.Student != null)
                        {
                            <td>@Html.DisplayFor(modelItem => item.Student.StudentId)</td>
                        }
                        else
                        {
                            <td> Student info not found</td>
                        }
                    }

                    @if (showSchoolIdColumn)
                    {
                        @if (item.School != null)
                        {
                            <td>
                                <partial name="_SchoolViewPartial" model="item.School.ToView(true)" />
                            </td>
                        }
                        else
                        {
                            <td> School info not found</td>
                        }
                    }


                    <td>@Html.DisplayFor(modelItem => item.PaymentDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                    <td>@Html.DisplayFor(modelItem => item.PaymentPeriodId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    @if (showIsVerifiedColumn)
                    {
                        <td>@Html.DisplayFor(modelItem => item.IsVerified)</td>
                    }
                    <td>
                    <div class="d-flex d-md-inline-block justify-content-center">
                        <a asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-primary " 
                          title="Edit">
                            &#9998;                       
                            </a>
                        <a asp-action="Details" asp-route-id="@item.Id"
                        class="btn btn-sm btn-info " 
                         title="Details">
                            &#8505;
                        </a>

                        @if (ViewBag.IsDebug)
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" 
                            class="btn btn-sm btn-danger " 
                             title="Delete">
                                &#10006;
                            </a>
                        }
                    </div>
                    </td>
                    <!-- Add other fields as needed -->
                </tr>
            }
        </tbody>
    }
