@model IQueryable<PaymentPeriod>?
@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewData["Title"] = "PaymentPeriods";
    ViewBag.AspAction = "PeriodList";
    ViewBag.AspController = "Payment";
}

@section CreateNewWithTitle
{
    <h2>@ViewData["Title"]<a asp-action="PeriodCreate" class="btn btn-sm btn-primary float-end">Create New</a></h2>
}

@section SearchFormOptions{
               <select class="form-select" name="searchField">

                    @if (ViewData["CurrentSearchField"] != null)
                    {
                        <option value='@ViewData["CurrentSearchField"]' selected>@ViewData["CurrentSearchField"]</option>
                    }
                    <option value="">All</option>
                    <option value="Id">Period Id</option>
                    <option value="StudentId">Student Id</option>
                    <option value="StartDate">Period Start Date</option>
                    <option value="EndDate">Period End Date</option>
                    <option value="TotalAmount">Total Amount</option>
                </select>
}
@section Listings{
    <thead>
        <tr>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["IdSortOrder"]?.ToString()">Period Id</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["StudentIdSortOrder"]?.ToString()">Student</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["StartDateSortOrder"]?.ToString()">Period Start Date</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["EndDateSortOrder"]?.ToString()">Period End Date</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["PerPaymentAmountSortOrder"]?.ToString()">Per Payment Amount</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["TotalAmountSortOrder"]?.ToString()">Total Amount</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="PeriodList" sort-order="@ViewData["OccurrenceSortOrder"]?.ToString()">Occurrence</list-page-link-item>
            </tr>
    </thead>
    <tbody>
        @foreach (var item in Model ?? Enumerable.Empty<PaymentPeriod?>())
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    <partial name="_StudentViewPartial" model="item.Student?.ToView(true)" />
                </td>
                <td class="date">@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td class="date">@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.PerPaymentAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                <td>@Html.DisplayFor(modelItem => item.Occurrence)</td>
              <td>
                    <div class="btn-group">
                    <a asp-action="PeriodEdit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-primary"
                          title="Edit">
                            &#9998;
                    </a>
                    <a asp-action="PeriodDetails" asp-route-id="@item.Id"
                        class="btn btn-sm btn-info" title="Details">
                        &#128269;
                    </a>
                    <a asp-action="PeriodDelete" asp-route-id="@item.Id"
                    class="btn btn-sm btn-danger"
                        title="Delete">
                        &#10006;
                    </a>
                    </div>
                </td>


            </tr>
        }
    </tbody>
}
