@model SchoolView
@{
    var showCount = ViewBag.showCount ?? 5;
    ViewBag.showCount = showCount;
}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">School Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 text-nowrap">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt class="col-sm-2 text-nowrap">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2 text-nowrap">
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd class="col-sm-10 date">
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>

                <dt class="col-sm-2 text-nowrap">
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd class="col-sm-10 date">
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>

                <div class="row">
                    <div class="col-md-6">
                        @if (Model.Students == null || Model.Students.Count == 0){
                            <div class="alert alert-info" role="alert">
                                No students found.
                            </div>
                        }else{
                            <partial name="_StudentListPartial" model="Model.Students" />
                        }
                    </div>

                    <div class="col-md-6 border-start">
                        @if (Model.SchoolAdmins == null || Model.SchoolAdmins.Count == 0)
                        {
                            <div class="alert alert-info" role="alert">
                                No school admins found.
                            </div>
                        }
                        else
                        {
                            <div class="table-responsive">
                                <partial name="_SchoolAdminListPartial" model="Model.SchoolAdmins" />
                            </div>
                        }
                    </div>
                </div>


            </dl>
        </div>
    </div>

    <p class="mt-5">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="List" class="btn btn-secondary"> Show All Schools</a>
        <a asp-action="Detete" asp-route-id="@Model.Id"  class="btn btn-danger float-end">Delete</a>
    <a class="btn btn-secondary" href='javascript:history.go(-1)'>Return to previous page</a>
    </p>
</div>
