@model IEnumerable<School>
@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewData["Title"] = "List of Schools";
    ViewBag.AspAction = "List";
    ViewBag.AspController = "School";
}

@section CreateNewWithTitle

{
    <h2>@ViewData["Title"]<a asp-action="Create" class="btn btn-sm btn-primary float-end">Create New</a></h2>
}
@section SearchFormOptions {
    <select class="form-select" name="searchField">

        @if (ViewData["CurrentSearchField"] != null)
        {
            <option value='@ViewData["CurrentSearchField"]' selected>@ViewData["CurrentSearchField"]</option>
        }
        <option value="">All</option>
        <option value="id">Id</option>
        <option value="name">Name</option>
        <!-- Add more search fields as needed -->
    </select>
}

@section Listings {
    <thead>
        <tr>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["IdSortOrder"]">Id</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["NameSortOrder"]">Name</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["CreatedAtSortOrder"]">Created At</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["UpdatedAtSortOrder"]">Updated At</list-page-link-item>
            </th>
            <th></th> <!-- column for buttons edit | details | delete -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <!-- Add more columns as needed -->
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary " title="Edit">
                            &#9998;
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info " title="Details">
                            &#128269;
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger " title="Delete">
                            &#10006;
                        </a>
                    </div>
                </td>

            </tr>
        }
    </tbody>
}