@model WorkYearView
@{
    ViewBag.Title = "Yeni Dönem Ekle";

    School? defaultSchool = null;
    @* (ViewBag.schools as IQueryable<School>)*@
    // if difrrent type redirect to error page
    if (ViewBag.Schools is IQueryable<School>)
    {

        TempData["Error"] = "Error: Schools cannot be retrieved";
    }
    else
    {
        if (ViewBag.Schools.Count() == 1)
        {
            defaultSchool = ViewBag.Schools.First();
        }
        else
        {
            defaultSchool = null;
        }
    }
}

<h1 class="display-4"> BROKEN NEEDS TO BE FIXED</h1>
@* 
TODO: needs to be fixed 
*@

<h2>Yeni Dönem Ekle</h2>

<partial name="_ValidationScriptsPartial" />

<form asp-action="Create" method="post" class="needs-validation">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="StartDate" class="form-label">Başlangıç Tarihi</label>
        <input asp-for="StartDate" class="form-control" id="StartDate" required>

        <div class="invalid-feedback">
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

    </div>
    <div class="mb-3">
        <label for="EndDate" class="form-label">Bitiş Tarihi</label>
        <input asp-for="EndDate" class="form-control" id="EndDate" required>

        <div class="invalid-feedback">
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>
    </div>

    @if (defaultSchool != null)
    {
        <input type="hidden" asp-for="School" value="@defaultSchool.Id" />
    }
    else
    {
        <label for="SchoolId" class="form-label">School</label>
        <select asp-for="School" class="form-control" id="SchoolId" name="SchoolId" required>
            <option value="">Select School</option>
            @foreach (var School in ViewBag.Schools)
            {
                <option value="@School.Id">@School.Name</option>
            }
        </select>
        <div class="invalid-feedback">
            @Html.ValidationMessageFor(model => model.School)
        </div>
    }



    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>