@model IEnumerable<WorkYear>
@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewData["Title"] = "List of Work Years";
    ViewBag.AspAction = "List";
    ViewBag.AspController = "WorkYear";
}

@section CreateNewWithTitle
{
    <h2>@ViewData["Title"] <a asp-action="Create" class="btn btn-sm btn-primary float-end">Create New</a></h2>
}


@section SearchFormOptions {
    @* TODO make this options dynamicly *@
                <select class="form-select" name="searchField">
                    @if (ViewData["CurrentSearchField"] != null)
                    {
                        <option value='@ViewData["CurrentSearchField"]' selected>@ViewData["CurrentSearchField"]</option>
                    }
                    <option value="">All</option>
                    <option value="Id">Id</option>
                    <option value="School">School</option>
                </select>
}

@section Listings {
    <thead>
        <tr>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["IdSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Id</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["SchoolSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">School</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["StartDateSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Start Date</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["EndDateSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">End Date</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["CreatedAtSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Created At</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["UpdatedAtSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Updated At</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["TotalAmountSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Total Amount</list-page-link-item>
            </th>

            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @if (item.School != null)
                    {
                        <partial name="_SchoolDetailPartial" model="item.School.ToView()" />
                    }
                    else
                    {
                        <p>
                            School not avaliable
                        </p>
                    }
                </td>
                <td class="dateOnly">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>

                <td class="dateOnly">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td class="date">
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td class="date">
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>

                <td>
                    <p>
                        @item.TotalAmount() ₺ / $ / €
                    </p>
                </td>


                <td>
                    <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-primary "
                          title="Edit">
                            &#9998;
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id"
                        class="btn btn-sm btn-info " title="Details">
                        &#128269;
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id"
                    class="btn btn-sm btn-danger"
                        title="Delete">
                        &#10006;
                    </a>
                    </div>
                </td>

           </tr>
        }
    </tbody>
}
