@model IEnumerable<Student>
@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";

    ViewData["Title"] = "List of Students";

    ViewBag.AspAction = "List";

    ViewBag.AspController = "Student";
}

@section CreateNewWithTitle {
    <h2>@ViewData["Title"]<a asp-action="Create" class="btn btn-sm btn-primary float-end">Create New</a></h2>
}



@section SearchFormOptions {
    <select class="form-select" name="searchField">
        @if (ViewData["CurrentSearchField"] != null)

        {
            <option value='@ViewData["CurrentSearchField"]' selected>@ViewData["CurrentSearchField"]</option>
        }
        <option value="">All</option>
        <option value="StudentId">StudentId</option>
        <option value="FirstName">First Name</option>
        <option value="LastName">Last Name</option>
        <option value="EmailAddress">Email Adress</option>
        <option value="School">School</option>
        <!-- Add more search fields as needed -->
    </select>
}
@section Listings {
    <thead>
        <tr>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["StudentIdSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">StudentId</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["SchoolSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">School</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["FirstNameSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">First Name</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["LastNameSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Last Name</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["EmailAddressSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Email Address</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["CreatedAtSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Created At</list-page-link-item>
            </th>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["UpdatedAtSortOrder"]"
                    asp-route-searchString="@ViewData["CurrentSearchString"]">Updated At</list-page-link-item>
            </th>
            <!-- Add more columns as needed -->
            <th></th> <!-- column for buttons edit | details | delete -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)



        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @if (item.School != null)

                    {
                        <partial name="_SchoolDetailPartial" model="item.School.ToView()" />
                    }

                    else

                    {
                        <p>
                            School not avaliable
                        </p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <!-- Add more columns as needed -->

                <td>
                    <div class="btn-group">
                    <a asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-primary "
                          title="Edit">
                            &#9998;
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id"
                        class="btn btn-sm btn-info " title="Details">
                        &#128269;
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Id"
                    class="btn btn-sm btn-danger "
                        title="Delete">
                        &#10006;
                    </a>
                    </div>
                </td>



            </tr>
        }
    </tbody>
}
