@model SiteAdminView

@{
    ViewData["Title"] = "Delete SiteAdmin";
}

<h3>Are you sure you want to delete this SiteAdmin?</h3>
<div>
    <h4>SiteAdmin Details</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-3">Id:</dt>
        <dd class="col-sm-9">@Model.Id</dd>

        <dt class="col-sm-3">FirstName:</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>

        <dt class="col-sm-3">LastName:</dt>
        <dd class="col-sm-9">@Model.LastName</dd>


        <dt class="col-sm-3">Email Address:</dt>
        <dd class="col-sm-9">@Model.EmailAddress</dd>

        <dt class="col-sm-3">Created At:</dt>
        <dd class="col-sm-9">@Model.CreatedAt</dd>

        <dt class="col-sm-3">Updated At:</dt>
        <dd class="col-sm-9">@Model.UpdatedAt</dd>

    </dl>
    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="List" class="btn btn-secondary">  Show All SiteAdmins</a>
    </form>
</div>
