@model ContactInfoView

@{
    const string CardName = "contactInfoCard";
    const string partialViewTitle = "Contact Information";
}

<div class="container-fluid py-0 my-0">
    <div class="card m-0">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                @partialViewTitle <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#@CardName" aria-expanded="false" aria-controls="userDetailCard">
                    <span class="triangle">&#9650;</span> <!-- This is a Unicode up arrow -->
                </button>
            </h5>
        </div>
        <div id="@CardName" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Phone Number:</strong> @Model.PhoneNumber
                        </li>
                        <li class="list-group-item">
                            <strong>Email:</strong> @Model.Email
                        </li>
                        <li class="list-group-item">
                            <strong>Addresses:</strong>
                            @if (Model.Addresses != null && Model.Addresses.Count > 0)
                            {
                                foreach (var address in Model.Addresses)
                                {
                                    <p class="mb-0">@address</p>
                                }
                            }
                            else
                            {
                                <p class="mb-0">No addresses available</p>
                            }
                        </li>
                        <li class="list-group-item">
                            <strong>Created At:</strong>
                            <p class="date">@Html.DisplayFor(model => model.CreatedAt)</p>
                        </li>
                        <li class="list-group-item">
                            <strong>Updated At:</strong> 
                            @*  g format: MM/dd/yyyy HH:mm
                                u format: yyyy-MM-dd HH:mm:ssZ
                                s format: yyyy-MM-ddTHH:mm:ss
                                o format: yyyy-MM-ddTHH:mm:ss.fffffffK
                                r format: ddd, dd MMM yyyy HH:mm:ss GMT
                            *@
                            <p class="date">@Html.DisplayFor(model => model.UpdatedAt)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
