@{
    if(ViewBag.IsDebug == null)
    {
        ViewBag.IsDebug = false;
    }
    @if(ViewBag.UserRole == null){
        ViewBag.UserRole = UserRole.None;
    }
    var stopWatch = System.Diagnostics.Stopwatch.StartNew();
}
<!DOCTYPE html>
<html lang="en">

@using OgrenciAidatSistemi.Configurations;

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Constants.AppName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css"
        integrity="sha512-D1liES3uvDpPrgk7vXR/hR/sukGn7EtDWEyvpdLsyalQYq6v6YUsTUJmku7B4rcuQ21rf0UTksw2i/2Pdjbd3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OgrenciAidatSistemi.styles.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
</head>

<body>
    <header>
        @await Component.InvokeAsync("NavbarVC")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="message">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["Message"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <partial name="_ErrorPartial" model=@TempData["Error"] />
                }
            </div>
            @RenderBody()
        </main>
    </div>

    <div class="spacer"></div>
    <footer class="border-top footer text-muted mt-5 text-center">
        <div class="container">
            &copy; 2024 - @Constants.AppName - @Constants.AppVersion | page rendered in @stopWatch.ElapsedMilliseconds ms.

            <button id="color-mode-toggle-btn" class="btn btn-secondary btn-sm">Switch Color Scheme</button>

            <div class="text-center mt-3">
                <a asp-action="About" asp-controller="Home">About</a>
            </div>

            @* render the time taken to render the page *@

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/colormode.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("jslibs", required: false)
    @RenderSection("scripts", required: false)
    <script src="~/js/collapse.js" asp-append-version="true"></script>
</body>
</html>
