@{
    int currentPageIndex = (int)(ViewData["CurrentPageIndex"] ?? 1);
    int totalPages = (int)(ViewData["TotalPages"] ?? 1);
    int totalItems = (int)(ViewData["TotalItems"] ?? 0);

}


<nav aria-label="Page navigation" class="pagination-margin">
    <ul class="pagination justify-content-center">
        @if (ViewData["CurrentPageIndex"] != null)
        {


            <li class="page-item @(currentPageIndex <= 1 ? "disabled" : "")">
                <list-page-link-item asp-action="@ViewBag.AspAction"
                                     asp-controller="@ViewBag.AspController"
                                     page-index="1"
                                     text="First"></list-page-link-item>
            </li>
            <li class="page-item @(currentPageIndex <= 1 ? "disabled" : "")">
                <list-page-link-item asp-action="@ViewBag.AspAction"
                                     asp-controller="@ViewBag.AspController"
                                     page-index="@(currentPageIndex - 1)"
                                     text="Previous"></list-page-link-item>
            </li>

            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPageIndex ? "active" : "")">
                    <list-page-link-item asp-action="@ViewBag.AspAction"
                                         asp-controller="@ViewBag.AspController"
                                         page-index="@i"
                                         text="@i"></list-page-link-item>
                </li>
            }

            <li class="page-item @(currentPageIndex >= totalPages ? "disabled" : "")">
                <list-page-link-item asp-action="@ViewBag.AspAction"
                                     asp-controller="@ViewBag.AspController"
                                     page-index="@(currentPageIndex + 1)"
                                     text="Next"></list-page-link-item>
            </li>
            <li class="page-item @(currentPageIndex >= totalPages ? "disabled" : "")">
                <list-page-link-item asp-action="@ViewBag.AspAction"
                                     asp-controller="@ViewBag.AspController"
                                     page-index="@totalPages"
                                     text="Last"></list-page-link-item>
            </li>
        }
    </ul>
</nav>