@model IEnumerable<PaymentView>

@{
    string CardName = "paymentListCard" + Guid.NewGuid().ToString();
    string partialViewTitle = "Payment List" + (ViewData["paymentListTitle"] ?? "");
    var usrRole = ViewBag.UserRole;
    var isMakePaymentShow = usrRole == UserRole.Student;
}

<div class="container-fluid py-0 my-0">
    <div class="card m-0">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                @partialViewTitle <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#@CardName" aria-expanded="false" aria-controls="userDetailCard">
                    <span class="triangle">&#9650;</span> <!-- This is a Unicode up arrow -->
                </button>
            </h5>
        </div>
        <div id="@CardName" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">

            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Method</th>

                            <td>Details</td>
                            @if (isMakePaymentShow)
                            {
                                <th>Make Payment</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model)

                        {
                            <tr>
                                <td>@payment.PaymentDate.ToString("d")</td>
                                <td>@payment.Amount.ToString("C")</td>
                                <td>@payment.PaymentMethod</td>
                                <td><a asp-action="Details" asp-controller="Payment" asp-route-id="@payment.Id">Details</a>
                                </td>
                                @if (isMakePaymentShow)
                                {
                                    <td> <a asp-controller="Payment" asp-action="MakePayment" asp-route-id="@payment.Id"
                                            class="btn btn-primary float-start"> &#x1F6D2; </a>
                                        @* &#x1F6D2; is a Unicode shopping trolley *@
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
                        <p class="mt-5">
                            <a asp-action="List" asp-controller="Payment" class="btn btn-primary">Show All Payments</a>
                        </p>
            </div>
        </div>
    </div>
