@model WorkYearView

@{
    const string CardName = "workYearDetailCard";
    const string partialViewTitle = "Work Year Details";
}

<div class="container-fluid py-0 my-0">
    <div class="card m-0">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                @partialViewTitle <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#@CardName" aria-expanded="true" aria-controls="userDetailCard">
                    <span class="triangle">&#9650;</span> <!-- This is a Unicode up arrow -->
                </button>
            </h5>
        </div>
        <div id="@CardName" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <hr />

                        <a class="btn btn-primary float-end"
                            href="@Url.Action("Details", "WorkYear", new { id = Model.Id })">🔗</a>

                        <dl class="row">
                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Id)</dt>
                            <dd class="col-sm-8">@Html.DisplayFor(model => model.Id)</dd>

                            <dt class="col-sm-4">Start Date:</dt>
                            <dd class="col-sm-8 dateonly">
                                @Model.StartDate
                            </dd>

                            <dt class="col-sm-4">End Date:</dt>
                            <dd class="col-sm-8 dateonly">@Model.EndDate
                            </dd>

                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                            <dd class="col-sm-8 date">@Html.DisplayFor(model => model.CreatedAt)</dd>

                            <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
                            <dd class="col-sm-8 date">@Html.DisplayFor(model => model.UpdatedAt)</dd>

                            @if (Model.School != null)
                            {
                                <dt class="col-sm-4">School:</dt>
                                <dd class="col-sm-8">@Model.School.Name</dd>
                            }
                            else
                            {
                                <dt class="col-sm-4">School:</dt>
                                <dd class="col-sm-8">School not available</dd>
                            }
                        </dl>

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>