@model IQueryable<Receipt>

@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    var usrRole = ViewBag.UserRole ?? UserRole.None;
    var showStudentIdColumn = (usrRole != UserRole.Student && usrRole != UserRole.None);
    var showCreatedByColumn = usrRole == UserRole.SiteAdmin;
    var showEditColumn = showCreatedByColumn;

    ViewData["Title"] = "List of Receipts";
    ViewBag.AspAction = "List";
    ViewBag.AspController = "Receipt";
}

@section CreateNewWithTitle
{
    <h2>@ViewData["Title"]<a asp-action="Create" class="btn btn-sm btn-primary float-end">Create New</a></h2>
}

@section SearchFormOptions{
               <select class="form-select" name="searchField">
                    <option value='@ViewData["CurrentSearchField"]' selected>@ViewData["CurrentSearchField"]</option>
                    <option value="">All</option>
                    <option value="Id">Receipt Id</option>
                    <option value="ReceiptDate">Receipt Date</option>
                    <option value="ReceiptMethod">Receipt Method</option>
                    <option value="ReceiptPeriodId">Receipt Period</option>
                    <option value="Amount">Amount</option>
                    <!-- Add more search fields as needed -->
                </select>
      }

@section Listings{
    <thead>
        <tr>
            <th>
                <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["IdSortOrder"]?.ToString()"
                    asp-route-searchString="@ViewData["CurrentSearchString"]?.ToString()">Receipt Id</list-page-link-item>
                </th>
                @if (showStudentIdColumn)
                {
                    <th>
                        <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["StudentIdSortOrder"]?.ToString()"
                            asp-route-searchString="@ViewData["CurrentSearchString"]?.ToString()">Student Id</list-page-link-item>
                    </th>
                }
                @if (showCreatedByColumn)
                {
                    <th>
                        <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["CreatedByIdSortOrder"]?.ToString()"
                            asp-route-searchString="@ViewData["CurrentSearchString"]?.ToString()">Created By</list-page-link-item>
                    </th>
                }
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["DateSortOrder"]?.ToString()"
                        asp-route-searchString="@ViewData["CurrentSearchString"]?.ToString()">Receipt Date</list-page-link-item>
                </th>
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["MethodSortOrder"]?.ToString()"
                        asp-route-searchString="@ViewData["CurrentSearchString"]?.ToString()">Receipt Method</list-page-link-item>
                </th>
                <th>
                    <list-page-link-item class="btn-sort" asp-action="List" sort-order="@ViewData["PeriodSortOrder"]?.ToString()"
                        asp-route-searchString="@ViewData["CurrentSearchString"]?.ToString()">Receipt Period</list-page-link-item>
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@item.Id</a>
                </td>
                @if (showStudentIdColumn)
                {
                    <td>
                        <a asp-action="Details"
                            asp-route-id="@item.Payment?.Student?.StudentId">@item.Payment?.Student?.StudentId ?? "Unknown"</a>
                    </td>
                }
                @if (showCreatedByColumn)
                {
                    <td>
                        @item.CreatedBy
                    </td>
                }
                <td class="date">
                    @(item.Payment?.CreatedAt != null ? item.Payment.CreatedAt.ToString("o") : "Unknown")
                </td>
                <td>
                    @(item.Payment?.PaymentMethod != null ? item.Payment.PaymentMethod : "Unknown")
                </td>
                <td>
                    @((item.Payment?.PaymentPeriod?.Id.ToString()) ?? "Unknown")
                </td>
                <td>
                    <div class="btn-group">
                    @if (showEditColumn)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"
                        class="btn btn-sm btn-primary " 
                          title="Edit">
                            &#9998;                       
                            </a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id"
                        class="btn btn-sm btn-info " title="Details">
                        &#128269;
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id"
                        class="btn btn-sm btn-danger " title="Delete">
                        &#10006;
                    </a>

                    </div>
                </td>

            </tr>
        }
    </tbody>
}